<div class="slide-show-container">
  <h1 class="w3-center">Pizza Mập - Pizza Online 2</h1>
  <h2>150 Lạc Nghiệp, Quận Hai Bà Trưng, Hà Nội</h2>
  <div class="w3-content w3-display-container">
    <%= image_tag "restaurant-1.jpg", class: "mySlides"%>
    <%= image_tag "restaurant-2.jpg", class: "mySlides"%>
    <%= image_tag "restaurant-3.jpg", class: "mySlides"%>
    <%= image_tag "restaurant-4.jpg", class: "mySlides"%>
    <div class="carousel-control-prev" href="#demo" data-slide="prev">
      <button class="w3-button w3-black w3-display-left">&#10094;</button>
    </div>
    <div class="carousel-control-next" href="#demo" data-slide="next">
      <button class="w3-button w3-black w3-display-right">&#10095;</button>
    </div>
  </div>
</div>
